body{
    background:rgb(0, 243, 61);
    color:orangered;
    text-align: center;
    font-size: larger;
    font-family: monospace
}
div {
    background:yellow;
    max-width: 20em; /* 20 letter MS*/
    display: inline-block; /*make a letter*/
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border-style: dotted;
}


[contenteditable] {
    outline: none;
}

#answer {
    background: purple;
}